.listView {
  flex: 5;
}

.booksList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;

  > div {
    width: 290px;

    img {
      transition: all .5s;

      &:hover {
        filter: brightness(1.15) contrast(1.15);
      }
    }

    .img {
      height: 50px;
      width: 50px;
    }

  }
}