.upcomingBooksListView {
  flex: 1 0;
  @media (max-width: 980px) {
    flex: 5 0 100%;
    width: 100%;
  }
}

.upcomingBooksList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;

  > div {
    width: 220px;
    margin-bottom: 10px;

    img {
      transition: all .5s;

      &:hover {
        filter: brightness(1.15) contrast(1.15);
      }
    }

    .img {
      height: 50px;
      width: 50px;
    }

  }
}