.bib-info {
    border: 1px solid rgb(154, 151, 136);
    margin-top: 10px;
    padding: 15px;
}

.bib-info .bib-label {
    font-weight: bold;
}

.bib-info .bib-cpright span {
    margin-left: 1em;
}

.product_wrapper.clearfix .product_image_wrapper {
    width: 30%;
}

.product_wrapper.clearfix .summary.entry-summary {
    width: 60%;
}